* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: black;
}

img {
  max-width: 100%;
}

.menu-title h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: normal;
}

.button {
  width: 200px;
  height: 40px;
  background-color: #FF79DA;
  border: #FF79DA;
  border-radius: 20px;
  box-shadow: -1px -1px 48px -3px rgba(147, 86, 220, 0.77) inset;
  color: white;
  margin-top: 35px;
}

.menu-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95%;
  height: 65px;
  background-color: white;
  border: solid 1px white;
  border-radius: 20px;
  box-shadow: -2px 15px 9px -5px rgba(165, 164, 164, 0.29);
  margin-bottom: 20px;
  padding-left: 10px;
}
.menu-button h3 {
  width: 100%;
  font-size: 1rem;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0;
}
.menu-button p {
  text-align: left;
  font-size: 0.9rem;
  margin-top: 5px;
}
.menu-button .menu-price {
  font-weight: bold;
  margin-right: 10px;
}

.working-filter {
  display: flex;
  width: 300px;
  height: 60px;
  background-color: #F2F2F2;
  border: solid 1px #F2F2F2;
  border-radius: 10px;
  box-shadow: -2px 15px 9px -5px rgba(165, 164, 164, 0.29);
  margin-bottom: 20px;
}
.working-filter .working-filter__number {
  height: 20px;
  width: 20px;
  font-size: 0.9rem;
  color: white;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  border-radius: 50%;
  position: relative;
  left: -10px;
  margin-top: 20px;
  padding-left: 5px;
}
.working-filter i {
  font-size: 1.1rem;
  color: gray;
  margin-top: 20px;
  margin-left: 5px;
}
.working-filter .working-filter__txt {
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 25px;
}

.menu-card {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  background-color: white;
  border-radius: 20px;
  box-shadow: -2px 15px 9px -5px rgba(165, 164, 164, 0.29);
  margin-bottom: 20px;
  margin-left: 20px;
}
.menu-card__image {
  height: 175px;
  border-radius: 20px 20px 0 0;
}
.menu-card__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin-left: 10px;
}
.menu-card__info h3 {
  width: 100%;
  font-size: 1.1rem;
  margin-top: 10px;
  margin-bottom: 0px;
}
.menu-card__info p {
  margin-top: 5px;
  text-align: left;
}
.menu-card__quote {
  margin-top: 10px;
  font-size: 1.3rem;
  color: #333333;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
header .homepage {
  display: none;
}
header img {
  max-width: 40%;
}

.fa-utensils {
  font-size: 0.8rem;
  margin-right: 15px;
}

.fa-hands-helping {
  font-size: 0.8rem;
  margin-right: 10px;
}

footer {
  background-color: #333333;
  padding-bottom: 20px;
}
footer h3 {
  font-family: "Shrikhand", sans-serif;
  color: white;
  padding-top: 30px;
  padding-left: 20px;
  margin-top: 0;
}
footer ul {
  list-style-type: none;
  padding-left: 20px;
}
footer ul li {
  margin-bottom: 10px;
}
footer ul li a {
  color: white;
  font-size: 0.9rem;
  font-weight: 400;
}

.location {
  display: flex;
  flex-wrap: wrap;
  background-color: #F2F2F2;
  padding-bottom: 50px;
}

#resto-location__city {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 0.9rem;
  color: #333333;
  font-weight: bold;
  background-color: #e7e6e6;
  box-shadow: 0px 2px 17px 0px rgba(117, 115, 115, 0.44) inset;
}
#resto-location__city i {
  display: inline;
  align-self: center;
  padding-right: 10px;
}

#resto-location__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#resto-location__info p {
  margin-bottom: 0;
  margin-top: 0;
}
#resto-location__info h1 {
  text-align: center;
}

#working {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 40px;
}
#working h1 {
  margin-right: 125px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.restaurant {
  background: #F2F2F2;
  padding-top: 30px;
  padding-bottom: 30px;
}
.restaurant h1 {
  margin-left: 20px;
}

header i {
  align-self: center;
  margin-right: 0;
  position: relative;
  left: -75px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  background: #F2F2F2;
  padding-bottom: 30px;
  border: solid 1px #F2F2F2;
  border-radius: 30px 30px 0 0;
  position: relative;
  top: -40px;
}
.menu h1 {
  font-family: "Shrikhand", sans-serif;
  margin-left: 15px;
}
.menu h2 {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 100;
  margin-left: 15px;
}
.menu i {
  align-self: center;
  margin-top: 0;
  margin-left: 60px;
}

.menu-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
