* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: black;
}

img {
  max-width: 100%;
}

.menu-title h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: normal;
}

.button {
  width: 200px;
  height: 40px;
  background-color: #FF79DA;
  border: #FF79DA;
  border-radius: 20px;
  box-shadow: -1px -1px 48px -3px rgba(147, 86, 220, 0.77) inset;
  color: white;
  margin-top: 35px;
}
@media (min-width: 768px) {
  .button {
    width: 300px;
    height: 50px;
    font-size: larger;
  }
}

.menu-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95%;
  height: 65px;
  background-color: white;
  border: solid 1px white;
  border-radius: 20px;
  box-shadow: -2px 15px 9px -5px rgba(165, 164, 164, 0.29);
  margin-bottom: 20px;
  padding-left: 10px;
}
@media (min-width: 768px) {
  .menu-button {
    width: 30%;
  }
}
.menu-button h3 {
  width: 100%;
  font-size: 1rem;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0;
}
.menu-button p {
  text-align: left;
  font-size: 0.8rem;
  width: 185px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}
.menu-button .menu-price {
  width: min-content;
  font-weight: bold;
  margin-right: 10px;
}

.working-filter {
  display: flex;
  width: 90%;
  height: 60px;
  background-color: #F2F2F2;
  border: solid 1px #F2F2F2;
  border-radius: 20px;
  box-shadow: -2px 15px 9px -5px rgba(165, 164, 164, 0.29);
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .working-filter {
    width: 30%;
  }
}
.working-filter .working-filter__number {
  height: 20px;
  width: 20px;
  font-size: 0.9rem;
  color: white;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  border-radius: 50%;
  position: relative;
  left: -10px;
  margin-top: 20px;
  padding-left: 5px;
}
.working-filter i {
  font-size: 1.1rem;
  color: gray;
  margin-top: 20px;
  margin-left: 20px;
}
.working-filter .working-filter__txt {
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 25px;
}

.menu-card {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  background-color: white;
  border-radius: 20px;
  box-shadow: -2px 15px 9px -5px rgba(165, 164, 164, 0.29);
  margin-bottom: 20px;
}
.menu-card__image {
  border-radius: 20px 20px 0 0;
}
.menu-card__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  height: 33%;
  margin-left: 10px;
}
.menu-card__info h3 {
  width: 50%;
  font-size: 1.1rem;
  margin-top: 10px;
  margin-bottom: 0px;
}
.menu-card__info p {
  width: 50%;
  margin-top: 5px;
  text-align: left;
}
.menu-card__quote {
  align-self: last baseline;
  font-size: 1.5rem;
  color: #333333;
}

@media (min-width: 768px) {
  .menu-card {
    width: 40%;
    margin-bottom: 40px;
  }
  .menu-card__info {
    width: 100%;
    margin-right: 10px;
  }
  .menu-card__info p {
    margin-top: 0;
    padding-bottom: 10px;
  }
}
header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
}
header .homepage {
  display: none;
}
header .logo {
  max-width: 40%;
}

.fa-utensils {
  font-size: 0.8rem;
  margin-right: 15px;
}

.fa-hands-helping {
  font-size: 0.8rem;
  margin-right: 10px;
}

footer {
  background-color: #333333;
  padding-bottom: 20px;
}
footer h3 {
  font-family: "Shrikhand", sans-serif;
  color: white;
  padding-top: 30px;
  padding-left: 20px;
  margin-top: 0;
}
footer ul {
  list-style-type: none;
  padding-left: 20px;
}
footer ul li {
  margin-bottom: 10px;
}
footer ul li a {
  color: white;
  font-size: 0.9rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  footer {
    display: flex;
    flex-wrap: wrap;
  }
  footer h3 {
    width: 100%;
    font-size: 1.6rem;
    margin-bottom: 0;
  }
  footer ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 1.6rem;
  }
}
.location {
  display: flex;
  flex-wrap: wrap;
  background-color: #F2F2F2;
  padding-bottom: 50px;
}

#resto-location__city {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 0.9rem;
  color: #333333;
  font-weight: bold;
  background-color: #e7e6e6;
  box-shadow: 0px 2px 17px 0px rgba(117, 115, 115, 0.44) inset;
}
#resto-location__city i {
  display: inline;
  align-self: center;
  padding-right: 10px;
}

#resto-location__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#resto-location__info p {
  margin-bottom: 0;
  margin-top: 0;
}
#resto-location__info h1 {
  text-align: center;
  margin-left: 0;
}

#working {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 40px;
  background-color: white;
}
#working h1 {
  width: 100%;
  margin-right: 125px;
  margin-top: 50px;
  margin-bottom: 30px;
}

h1 {
  font-size: 1.5rem;
  margin-left: 15px;
  margin-top: 40px;
}

.restaurant {
  background: #F2F2F2;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.restaurant h1 {
  width: 100%;
}

@media (min-width: 768px) {
  #resto-location__city {
    font-size: 1rem;
  }

  #resto-location__info {
    width: 100%;
  }
  #resto-location__info h1 {
    width: 100%;
  }
  #resto-location__info p {
    width: 100%;
    font-size: 1.1rem;
    text-align: center;
  }

  #working {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
  }

  .restaurant {
    justify-content: space-around;
  }
}
header a {
  align-self: center;
  margin-right: 0;
  position: relative;
  left: -25%;
}
@media (min-width: 768px) {
  header a {
    left: -30%;
  }
}

section {
  background: #F2F2F2;
}
section .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #F2F2F2;
  border: solid 1px #F2F2F2;
  border-radius: 50px 50px 0 0;
  position: relative;
  top: -80px;
}
@media (min-width: 768px) {
  section .menu {
    border-radius: 50px 50px 0 0;
    top: -100px;
  }
}
section .menu h1 {
  font-family: "Shrikhand", sans-serif;
  margin-left: 0;
}
@media (min-width: 768px) {
  section .menu h1 {
    font-size: 2rem;
  }
}
section .menu h2 {
  width: 100%;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 100;
  margin-left: 15px;
  margin-bottom: 5px;
}
section .menu i {
  margin-top: 20px;
  align-self: center;
}
@media (min-width: 768px) {
  section .menu i {
    font-size: 2rem;
  }
}
section .menu-title {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
section .menu-title .border-bottom {
  border: 1.5px solid #99E2D0;
  width: 7%;
  margin-left: 15px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  section .menu-title .border-bottom {
    width: 5%;
  }
}
section .menu-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 768px) {
  section .menu-type {
    justify-content: space-around;
  }
}

/*# sourceMappingURL=style.css.map */
