.button {
    width: 200px;
    height: 40px;
    background-color: $secondary-color;
    border: $secondary-color;
    border-radius: 20px;
    box-shadow: -1px -1px 48px -3px rgba(147, 86, 220, 0.77) inset;
    color: white;
    margin-top: 35px;
}