.working-filter {
    display: flex;
    width: 300px;
    height: 60px;
    background-color: $bkgd-color-two;
    border: solid 1px $bkgd-color-two;
    border-radius: 10px;
    box-shadow: -2px 15px 9px -5px rgba(165, 164, 164, 0.29);
    margin-bottom: 20px;
    .working-filter__number {
        height: 20px;
        width: 20px;
        font-size: 0.9rem;
        color: white;
        background-color: $primary-color;
        border: 1px solid $primary-color;
        border-radius: 50%;
        position: relative;
        left: -10px;
        margin-top: 20px;
        padding-left: 5px;
    }
    i {
        font-size: 1.1rem;
        color: gray;
        margin-top: 20px;
        margin-left: 5px;
    }
    .working-filter__txt {
        font-size: 0.9rem;
        font-weight: bold;
        margin-top: 20px;
        margin-left: 25px;
    }
}