.menu-card__flag {
    font-size: 0.85rem;
    position: absolute;
    right: 10px;
    top: 15px;
    background-color: $tertiary-color;
    color: #1a8f72;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
}