.menu-card__flag {
    position: absolute;
    background-color: $tertiary-color;
    color: #1a8f72;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 0.85rem;
    right: 10px;
    top: 15px;
}