#header i {
    display: none;
}

.resto-location {
    background: #F2F2F2;
}

#resto-location__place p {
    margin-top: 0;
    margin-left: 15px;
    font-weight: 500;
}

.resto-location h1 {
    font-weight: 700;
    margin-bottom: 0;
}

#resto-location__place {
    display: flex;
    justify-content: center;
    background: #e7e6e6;
    font-size: 0.9rem;
    color: $footer-color;
    padding-top: 15px;
    padding-bottom: 5px;
    box-shadow: 0px 2px 17px 0px rgba(117, 115, 115, 0.44) inset;
}

#resto-location__title h1,
p {
    text-align: center;
}

#resto-location__title p {
    font-weight: 300;
}