footer {
    background: $footer-color;
    padding-bottom: 20px;
}

footer ul {
    list-style-type: none;
    padding-left: 20px;
}

footer li {
    margin-bottom: 10px;
}

footer h3 {
    font-family: 'Shrikhand', sans-serif;
    color: white;
    padding-top: 30px;
    padding-left: 20px;
}

footer a {
    color: white;
    font-size: 0.9rem;
    font-weight: 400;
}