    .location {
        display: flex;
        flex-wrap: wrap;
        background-color: $bkgd-color-two;
        padding-bottom: 50px;
    }
    
    #resto-location__city {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 0.9rem;
        color: $bkgd-color-one;
        font-weight: bold;
        background-color: #e7e6e6;
        box-shadow: 0px 2px 17px 0px rgba(117, 115, 115, 0.44) inset;
        i {
            display: inline;
            align-self: center;
            padding-right: 10px;
        }
    }
    
    #resto-location__info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        p {
            margin-bottom: 0;
            margin-top: 0;
        }
        h1 {
            text-align: center;
        }
    }
    
    #working {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 40px;
        h1 {
            margin-right: 125px;
            margin-top: 50px;
            margin-bottom: 30px;
        }
    }
    
    .restaurant {
        background: #F2F2F2;
        padding-top: 30px;
        padding-bottom: 30px;
        h1 {
            margin-left: 20px;
        }
    }