        .loading-spinner {
            display: flex;
            justify-content: center;
            position: absolute;
            right: 40%;
            @media(min-width: 768px)and (max-width: 1023px) {
                right: 45%;
                bottom: 11%
            }
            @media (min-width: 1024px) {
                right: 47%;
                top: 75%;
            }
        }
        
        .loader {
            align-items: center;
            height: 100%;
        }
        
        .loading-spinner::after {
            content: "";
            width: 50px;
            height: 50px;
            border: 10px solid $bkgd-color-two;
            border-top-color: $primary-color;
            border-bottom-color: $secondary-color;
            border-radius: 50%;
            opacity: 0;
            animation: loading 3s ease;
        }
        
        @keyframes loading {
            from {
                transform: rotate(0turn);
                opacity: 1;
            }
            to {
                transform: rotate(1turn);
                opacity: 0;
            }
        }
        
        .location {
            @include flexbox;
            background-color: $bkgd-color-two;
            padding-bottom: 50px;
        }
        
        #resto-location__city {
            display: flex;
            justify-content: center;
            width: 100%;
            font-size: 0.9rem;
            color: $bkgd-color-one;
            font-weight: bold;
            background-color: #e7e6e6;
            box-shadow: 0px 2px 17px 0px rgba(117, 115, 115, 0.44) inset;
            i {
                display: inline;
                align-self: center;
                padding-right: 10px;
            }
        }
        
        #resto-location__info {
            @include flexbox;
            justify-content: center;
            p {
                margin-bottom: 0;
                margin-top: 0;
            }
            h1 {
                text-align: center;
                margin-left: 0;
            }
        }
        
        #working {
            @include flexbox;
            justify-content: center;
            padding-bottom: 40px;
            background-color: $bkgd-button;
            h1 {
                margin-right: 125px;
                margin-top: 50px;
                margin-bottom: 30px;
            }
        }
        
        h1 {
            width: 100%;
            font-size: 1.5rem;
            margin-left: 15px;
            margin-top: 40px;
        }
        
        .restaurant {
            @include flexbox;
            background: $bkgd-color-two;
            padding-bottom: 30px;
            justify-content: center;
        }
        
        @media (min-width: 768px) {
            #resto-location__city {
                font-size: 1rem;
            }
            #resto-location__info {
                width: 100%;
                p {
                    width: 100%;
                    font-size: 1.1rem;
                    text-align: center;
                }
            }
            #working {
                display: flex;
                justify-content: space-around;
                padding-bottom: 20px;
            }
            .restaurant {
                justify-content: space-around;
            }
        }