header i {
    display: inline;
    align-self: center;
    margin-right: 50px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #F2F2F2;
    padding-bottom: 30px;
    border: solid 1px $bkgd-color-two;
    border-radius: 10px;
}

.menu-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    h2 {
        font-weight: 100;
        text-transform: uppercase;
        font-size: 1.1rem;
        margin-left: 10px;
    }
}

.menu-title {
    display: flex;
}