header a {
    align-self: center;
    margin-right: 0;
    position: relative;
    left: -25%;
    @media (min-width: 768px) {
        left: -30%;
    }
}

section {
    background: #F2F2F2;
    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background: #F2F2F2;
        border: solid 1px $bkgd-color-two;
        border-radius: 50px 50px 0 0;
        position: relative;
        top: -80px;
        @media (min-width: 768px) {
            border-radius: 50px 50px 0 0;
            top: -100px;
        }
        h1 {
            font-family: 'Shrikhand', sans-serif;
            margin-left: 0;
            @media (min-width: 768px) {
                font-size: 2rem;
            }
        }
        h2 {
            width: 100%;
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 100;
            margin-left: 15px;
            margin-bottom: 5px;
        }
        i {
            margin-top: 20px;
            align-self: center;
            @media (min-width: 768px) {
                font-size: 2rem;
            }
        }
    }
    .menu-title {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        .border-bottom {
            border: 1.5px solid $tertiary-color;
            width: 7%;
            margin-left: 15px;
            margin-bottom: 15px;
            @media (min-width: 768px) {
                width: 5%;
            }
        }
    }
    .menu-type {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media (min-width: 768px) {
            justify-content: space-around;
        }
    }
}