/*.primary-color {
    color: $primary-color;
}

.secondary-color {
    color: $secondary-color;
}

.tertiary-color {
    color: $secondary-color;
}

.footer-color {
    color: #191919;
}*/


/***Menu restaurants classes***/