/*.primary-color {
    color: $primary-color;
}

.secondary-color {
    color: $secondary-color;
}

.tertiary-color {
    color: $secondary-color;
}

.footer-color {
    color: #191919;
}*/

.accueil-char {
    font-weight: 500;
    font-size: 0.9rem;
    color: $bkgd-color-one;
}


/***Menu restaurants classes***/

.menu {
    background: #F2F2F2;
    padding-bottom: 30px;
}

.menu-type h2 {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-left: 10px;
}

.menu-title {
    display: flex;
}

.menu-button {
    width: 325px;
    height: 60px;
    background-color: white;
    border: solid 1px white;
    border-radius: 10px;
    box-shadow: -2px 15px 9px -5px rgba(165, 164, 164, 0.29);
    margin-left: 10px;
    margin-bottom: 20px;
}

.menu-button__info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu-button__info h3 {
    width: 100%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0;
}

.menu-button__info p {
    text-align: left;
    margin-top: 5px;
}

.menu-price {
    font-weight: bold;
    margin-right: 10px;
}