body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Shrikhand', sans-serif;
    font-weight: bold;
    font-style: normal;
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.menu-card__image {
    max-width: 100%;
}