body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

h1 {
    margin-left: 15px;
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
}

header img,
footer img {
    max-width: 40%;
}

.menu-card__image {
    max-width: 100%;
}