$primary-color: #3d5f7c;
$secondary-color: #ecb84a;
$tertiary-color:#3d5f7c;
$background-color-one:#333333;
$background-color-two:#F2F2F2;
$background-button:white;
$primary-color-light: #a8c3db;
$gradient-color:linear-gradient(to top left, #1C3144, #ecb84a);