$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color:#99E2D0;
$bkgd-color-one:#333333;
$bkgd-color-two:#F2F2F2;
$primary-color-light: #d9cbeb;
$gradient-color:linear-gradient(to top left, #9356DC, #FF79DA);
$gradient-color-light:linear-gradient(to top left, #9770c7, #fc95dd)