$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color:#99E2D0;
$background-color-one:#333333;
$background-color-two:#F2F2F2;
$background-button:white;
$primary-color-light: #d9cbeb;
$gradient-color:linear-gradient(to top left, #9356DC, #FF79DA);