.fa-utensils {
    font-size: 0.8rem;
    margin-right: 15px;
}

.fa-hands-helping {
    font-size: 0.8rem;
    margin-right: 10px;
}

footer {
    background-color: $bkgd-color-one;
    padding-bottom: 20px;
    h3 {
        font-family: 'Shrikhand', sans-serif;
        color: $bkgd-button;
        padding-top: 30px;
        padding-left: 20px;
        margin-top: 0;
    }
    ul {
        list-style-type: none;
        padding-left: 20px;
        li {
            margin-bottom: 10px;
            a {
                color: white;
                font-size: 0.9rem;
                font-weight: 400;
                &:hover {
                    font-weight: 800;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    footer {
        display: flex;
        flex-wrap: wrap;
        h3 {
            width: 100%;
            margin-bottom: 0;
        }
        ul {
            display: flex;
            width: 100%;
            justify-content: space-around;
            li>a {
                font-size: 1rem;
            }
        }
    }
}